@font-face {
    font-family: 'barlowmedium';
    src: url('../fonts/barlow_medium_macroman/Barlow-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow_light_macroman/Barlow-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: barlowlight;
    background-color: #cdf;
}

img {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

label,
.form-submit-button {
    cursor: pointer;
}

h1 {
    font-size: 20px;
    color: #666;
}

.header-block,
.social-buttons,
.or,
.radio-buttons-header,
.inputs-block {
    margin-bottom: 30px;
}

.content-header p {
    color: #aaa;
}


.wrapper,
.sign-up-form,
.content,
.social-buttons,
.or,
.inputs-block {
    display: flex;
}

.social-buttons,
.inputs-block {
    flex-wrap: wrap;
}

.wrapper {
    justify-content: center;
    flex-wrap: wrap;
}

.img-block {
    line-height: 1px;
}

.content-img {
    width: 575px;
}

.sign-up-form {
    flex-direction: column;
    min-height: 400px;
}

.img-block,
.content {
    box-shadow: 5px 5px 50px #abc;
}

.content {
    background-color: #fff;
    padding: 70px 60px;
    flex-direction: column;
}

.social-buttons {
    justify-content: space-between;
}

.facebook-button,
.linkedin-button {
    width: 154px;
    font-size: 10px;
    background-color: #36a;
    text-decoration: none;
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 15px;
    color: #fff;
    padding: 10px 0;
    padding-left: 35px;
}

.linkedin-button {
    background-color: #1888ff;
    background-image: url(../img/linkedin.svg);
}

.social-buttons a img {
    width: 15px;
    height: 15px;
    justify-content: center;
    margin: 10px;
}

.or {
    justify-content: center;
    align-items: center;
}

.word {
    margin: 0 5px;
    text-transform: uppercase;
    font-size: 10px;
    color: #666;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #ccc;
}

.inputs-block {
    position: relative;
}

.email,
.phone {
    width: 182px;
    border: 1px solid #eee;
    outline: none;
    padding-left: 5px;
    padding-top: 17px;
    padding-bottom: 3px;
    margin-left: -60px;
    background: none;
}

label[for="email"],
label[for="phone"] {
    margin-bottom: -30px;
    font-size: 12px;
    color: #aaa;
}

label[for="phone"] {
    left: 227px;
}

.phone:focus,
.email:focus {
    border-left: 1px solid #4af;
}

.question-header {
    font-size: 15px;
    color: #666;
}

.header-description {
    font-size: 10px;
    color: #aaa;
}

.inputs-block {
    justify-content: space-between;
}

.radio-button-label {
    line-height: inherit;
    font-size: 12px;
    color: #aaa;
}

.radio-buttons {
    margin-bottom: auto;
}

.radio-button:checked+.radio-button-label::before {
    box-shadow: inset 0 0 0 2px #4af;
    border: 1px solid #4af;
}

.radio-button {
    opacity: 0;
    position: absolute;
}

.radio-button-label:hover .notify {
    display: block;
}

.radio-button-label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: -2px;
}

.radio-button-label {
    color: #555;
    margin-right: 25px;
}

.radio-button-label {
    position: relative;
}

.radio-button-label span {
    margin-left: 10px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    width: 7px;
    height: 7px;
    text-align: center;
    font-size: 7px;
    font-family: serif;
    line-height: 8px;
}

.notify {
    width: 180px;
    color: #aaa;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ddd;
    position: absolute;
    left: 0;
    background-color: #fff;
    top: 40px;
    display: none;
}

.notify .trust {
    left: -50px;
}

.agreement-label {
    font-size: 12px;
    position: relative;
    color: #aaa;
}

#checkbox:checked+.agreement-label::after {
    display: inline;
}

#checkbox {
    opacity: 0;
    position: absolute; 
}

.agreement-label::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin-right: 10px;
}

.agreement-label::after {
    content: "\2714";
    display: none;
    position: absolute;
    left: 0;
    top: -7px;
    color: #666;
    font-size: 14px;
}

.form-submit-button {
    background-color: #4af;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px 50px;
    font-size: 12px;
    font-family: barlowmedium;
    margin-top: 40px;
    text-transform: capitalize;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
    .img-block {
        display: none;
    }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 515px) {
    .facebook-button,
    .linkedin-button  {
        width: 100%;
        padding: 15px;
        padding-left: 40px;
        margin-bottom: 20px;
    } 

    .email,
    .phone {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width : 320px) {
    .line {
        width: 40px;
    }

    .content {
        padding: 20px;
    }

}